<!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto" margin-left="--">FITNESS (GYM)</a>
          <img src="../../assets/img/logo.jpg" height="50px" width="50px" margin-left="--"></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a [routerLink]="['/']">Home</a></li>
          <li class="menu-active"><a  [routerLink]="['/aboutus']">About Us</a></li>
          <li class="menu-active"><a  [routerLink]="['/service']">service</a></li>
          <li class="menu-active"> <a  [routerLink]="['/gallery']">Gallery</a></li>
          <li class="menu-active"><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  