
    <div class="container">

      <header class="section-header wow fadeInUp">
        <h3>Services</h3>
        <p> Everybody Fitness Clubs offer a large selection of cardiovascular machines, strength/functional training equipment, group fitness classes, specialized training programs, certified personal trainers and group fitness instructors.
      <div class="row">

        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title"><a href="">8 Area Locations</a></h4>
          <p class="description">
            
          </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
          <h4 class="title"><a href="https://lifefitnessemea.com">Strength Training Equipment</a></h4>
          <p class="description">
            
          </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title"><a href="https://www.justdial.com/Delhi/Personal-Gym-Trainers/nct-12002588">Personal Training</a></h4>
          <p class="description">
            
          </div>
        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          <h4 class="title"><a href="https://www.gymandfitness.com.au/collections/functional-training-equipment">Functional Training Equipment</a></h4>
          <p class="description">

          </p>  </div>


          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              <h4 class="title"><a href="https://www.acefitness.org/education-and-resources/professional/expert-articles/2395/small-group-training-the-future-of-the-workout-experience-and-the-missing-link-to-your-personal">Small Group Training</a></h4>
              <p class="description">
  
              </p>  </div>


              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                  <h4 class="title"><a href="https://www.self.com/story/guide-to-navigating-free-weights-at-the-gym">Free weights</a></h4>
                  <p class="description">
      
                  </p>  </div>


                  
      
      
         


    </div>
  