
        <div class="container">
  
          <header class="section-header">
            <h3>About Us</h3>
            <p>THE GYM is no ordinary experience. It is a unique lifestyle program designed to achieve every individual member’s respective health and fitness goals. Whether our members are beginners or enthusiasts, every program, product, and experience we offer begins and ends with creating a premier and comfortable atmosphere tailored for their individual and overall success and safety.
            </p>
          </header>
  
          <div class="row about-cols">
  
            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="../../assets/img/about-mission.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Mission</a></h2>
                <p>
                  Fitness also understands that there are many fitness choices in the area and that is why we are constantly improving and updating our facility for our members.  While  Fitness may be a fitness business, the thing most important to us is our members. We value our members and always strive to be the place where our members can come for an hour or two to work on your personal fitness.
  
                   Fitness wants to be your choice for fitness and to help add more quality to your life through fitness.
                  
                             </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="../../assets/img/about-plan.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Plan</a></h2>
                <p>  </p>
              </div>
            </div>
  
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="../../assets/img/about-mission.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Vision</a></h2>
                <p>To become the market leader in fitness equipment and accessories
                  To provide equipment that will enhance the fitness, stamina and performance of India’s young generation so that they excel in their chosen fields
                  To represent world-renowned fitness conglomerates in allied businesses
                  To diversify into other related businesses offering good ROI to our channel partners</p>
   
  
        </div>
     