   
    
        <div class="container">

            <header class="section-header wow fadeInUp">
              <h3>Gallery</h3>
              <p> Everybody Fitness Clubs offer a large selection of cardiovascular machines, strength/functional training equipment, group fitness classes, specialized training programs, certified personal trainers and group fitness instructors.
            <div class="row">
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b1.jpg" height="300px" width="300px"></h4>
                <p class="description">   </div>
    
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b2.jpg" height="300px" width="300px"></h4>
                <p class="description"></p>
                  
                </div>
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b3.jpg" height="300px" width="300px"></h4>
                <p class="description">  </p>   </div>
    
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b4.jpg" height="300px" width="300px"></h4>
                <p class="description">  </p>  </div>
    
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b5.jpg" height="300px" width="300px"></h4>
                <p class="description"> </p>   </div>
              
              
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b6.jpg" height="300px" width="300px"></h4>
                <p class="description">  </p> </div>
    
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b7.jpg" height="300px" width="300px"></h4>
                <p class="description"> </p>      </div>
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b8.jpg" height="300px" width="300px"></h4></div>
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b9.jpg" height="300px" width="300px"></h4>
                <p class="description">  </p>  </div>
    
              <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b10.png" height="300px" width="300px"></h4>
                <p class="description">   </p>  </div>
           
    
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><img src="../../assets/img/b11.jpg" height="300px" width="300px"></h4>
                <p class="description">     </div>
            
    
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <div class="icon"><i class="ion-ios-people-outline"></i></div>
                <h4 class="title"><img src="../fitness gym/image/b12.jpg" height="300px" width="300px"></h4>
                <p class="description">   </p>  </div>
            
    
          </div>
  